<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_uid, 'From' %>:<br>
    <%= f.text_field :from_uid, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :message  %>:<br>
    <%= f.text_area :message, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :thread_uid %>:<br>
    <%= f.text_field :thread_uid, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Send', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
