<p id="notice"><%= notice %></p>

<p>
  <strong>From uid:</strong>
  <%= @message.from_uid %>
</p>

<p>
  <strong>To uid:</strong>
  <%= @message.to_uid %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>Thread uid:</strong>
  <%= @message.thread_uid %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
